@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}
.home-page{
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}
.img-main{
  height: 400px;
  width: 600px;
  object-fit: cover;
  position: center;
  border-radius: 7px;
  border: solid 1px#E6B0AA;
  display: flex;
  justify-content: center;

}
nav{
  background-color: #E6B0AA;
}
footer{
  background-color: #E6B0AA;
}
.dream-heading{
  color: #E6B0AA;
  text-shadow: 2px 1px 3px gray;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}